/.bundle/
/.yardoc
/_yardoc/
/coverage/
/dist/
/doc/
/node_modules/
/pkg/
/spec/reports/
/tmp/
/vendor/
__pycache__/
/composer.lock
/package-lock.json
# Current best practice is to commit this
# https://bundler.io/man/bundle-install.1.html#THE-GEMFILE-LOCK
# but we have zero deps, so it doesn't make sense
Gemfile.lock
*.gem
*.csv
.pdm.toml
__pypackages__/
src/pincode.egg-info/
