composer.*
vendor/
tests/
phpunit.xml
node_modules/
src/*.php
src/*.rb
.travis.yml
src/generate.js
HACKING.md
dist/
# This holds the python source
src/pincode
*.toml
Pipfile
.editorconfig
regexes.txt
__pypackages__
.github
.gitattributes
.phpunit*
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
Gemfile*
Rakefile
bin/
phpunit.*
*.gem
*.csv
pincode-regex.js
pincode-validator.gemspec
src/pincode.egg-info/
